body {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-color: black;
}
h1 {
    font-family: 'Monoton', cursive;
	color: white;
	text-align: left;
}
h2 {
	font-family: 'Bad Script', cursive; 
    color: white;
    font-size: 25px;	

}
.characterButton {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.characterImage {
    width: 100px;
    height: 100px;
}
.defenderButton {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    color: white;
}
#gameText {
    font-family: 'Raleway Dots', monospace;
    color: white;
    font-size: 30px;
    text-align: left; 
}
.possibleEnemies {
    background-color: red;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}